*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--accent-900);
}

:root {
    --primary: rgb(154, 205, 50);
    --accent-900: hsla(0, 0%, 10%);
    --accent-200: hsl(0, 0%, 95%);
}

body {
    margin: 0;
}

.navigation {
    font-size: 2rem;
    padding: 0.5em 1em;
    background: var(--accent-900);
    color: var(--accent-200);
}

.navigation > a {
    font-size: 1.75rem;
    color: var(--accent-200);
    text-decoration: none;
}
.navigation > a:hover,
.navigation > a:focus-visible {
    text-decoration: 2px var(--primary) underline solid;
}

.main {
    padding: 5rem 15rem;
    height: 100vh;
}

.product-container {
    display: flex;
    position: relative;
    height: 80vh;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.product-img {
    border-radius: 0.5rem;
    width: 45%;
    object-fit: cover;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.product-description {
    font-size: 1.25rem;
    padding: 0 0.5em;
    word-break: break-all;
    flex: 1;
}

.product-footer > h2 {
    margin: 0;
    font-size: 1.75rem;
}

.product-buy > a {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    text-decoration: 2px underline solid var(--accent-900);
    color: var(--accent-900);
}
.product-buy > a:hover,
.product-buy > a:focus-visible {
    text-decoration: 2px underline solid var(--primary);
}

.carousel-switch {
    position: absolute;
    left: 22.5%;
    transform: translate(-50%, 0);
    padding: 2rem;
    text-align: center;
    bottom: 0;
}

.carousel-switch > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background-color: var(--accent-200);
    width: 1rem;
	height: 1rem;
	border: 2px solid var(--accent-900);
	border-radius: 50%;
	padding: 2px;
    outline: 1px solid var(--accent-200);

    transition: all 0.2s ease;
    transition-property: border 0s background-color 0s;
}

.carousel-switch > input[type="radio"]:checked {
    background-color: var(--accent-900);
}

.carousel-switch > input[type="radio"]:focus-visible {
    outline: 4px solid var(--primary);
}

@media only screen and (max-width: 1350px) {
	.main {
    		padding: 5rem 6rem;
	}
}