*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--accent-900);
}

:root {
    --primary: rgb(154, 205, 50);
    --accent-900: hsla(0, 0%, 10%);
    --accent-200: hsl(0, 0%, 95%);
}

body {
    margin: 0;
}

.navigation {
    font-size: 2rem;
    padding: 0.5em 1em;
    background: var(--accent-900);
    color: var(--accent-200);
}

.navigation > a {
    font-size: 1.75rem;
    color: var(--accent-200);
    text-decoration: none;
}

.navigation > a:hover,
.navigation > a:focus-visible {
    text-decoration: 2px var(--primary) underline solid;
}

.main {
    padding: 2.5rem 15rem;
    text-align: center;
}

.main * {
    margin: 0.75rem auto;
}


.main > .form > * {
    display: block;
}

.main > .form > textarea {
    min-height: 2rem;
    max-height: 10rem;
    max-width: 70%;
}

@media only screen and (max-width: 1350px) {
	.main {
    		padding: 5rem 6rem;
	}
}

#product-list {
    position: fixed;
    bottom: 0;
    left: 0;
}

#product-list-table {
    width: 30%;
    border-spacing: 0;
    border-collapse: collapse;
}

#product-list-table td, th {
    border: 1px solid black;
}